<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Speedlify</title>
		<meta name="description" content="Benchmark web pages over time.">
		<link rel="stylesheet" href="/style.css">
		<script>
		document.documentElement.classList.add("js");
		</script>
	</head>
	<body>
		{{ content | safe }}
		<script defer src="/chartist.js"></script>
		<script defer src="/script.js"></script>
	</body>
</html>